@await Component.InvokeAsync("Divergent.Sales.ViewComponents.SalesOrderDetailsHeader", Model)

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Order details</h3>
    </div>
    <div class="panel-body">

        @await Component.InvokeAsync("Divergent.Sales.ViewComponents.SalesOrderDetails", Model)
        @await Component.InvokeAsync("Divergent.Shipping.ViewComponents.ShippingOrderDetails", Model)

    </div>

</div>