<h2>Orders</h2>

<table class="table table-striped">
    <thead>
        <tr>
            @await Component.InvokeAsync("Divergent.Sales.ViewComponents.OrdersListHeader")
            @await Component.InvokeAsync("Divergent.Shipping.ViewComponents.OrdersListHeader")
        </tr>
    </thead>
    <tbody>

        @foreach (dynamic order in Model.OrdersViewModel.Values)
        {
            <tr>
                @await Component.InvokeAsync("Divergent.Sales.ViewComponents.OrdersList", order)
                @await Component.InvokeAsync("Divergent.Shipping.ViewComponents.OrdersList", order)
            </tr>

        }

    </tbody>
</table>
