name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: Build and test on ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            name: Linux
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3.4.0
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: |
            7.0.x
            6.0.x
      - name: Build "ASP.Net Core API Gateway - 01"
        run: dotnet build "ASP.Net Core API Gateway - 01" --configuration Release
      - name: Tests "ASP.Net Core API Gateway - 01"
        run: dotnet test "ASP.Net Core API Gateway - 01" --configuration Release --no-build
      - name: Build "ASP.Net Core API Gateway - 02"
        run: dotnet build "ASP.Net Core API Gateway - 02" --configuration Release
      - name: Tests "ASP.Net Core API Gateway - 02"
        run: dotnet test "ASP.Net Core API Gateway - 02" --configuration Release --no-build
      - name: Build "ASP.Net Mvc Core"
        run: dotnet build "ASP.Net Mvc Core" --configuration Release
      - name: Tests "ASP.Net Mvc Core"
        run: dotnet test "ASP.Net Mvc Core" --configuration Release --no-build
      - name: Build "ASP.Net Mvc Core UI Composition"
        run: dotnet build "ASP.Net Mvc Core UI Composition" --configuration Release
      - name: Tests "ASP.Net Mvc Core UI Composition"
        run: dotnet test "ASP.Net Mvc Core UI Composition" --configuration Release --no-build
